Error object does not contain response headers

## Use case

Access to response headers might be required in certain circumstances to retry calls. For example, according to [RFC 8555 § 6.5 Replay Protection](https://tools.ietf.org/html/rfc8555#section-6.5), ACME servers (e.g., Let’s Encrypt) might reject the nonce sent to the server. When they do, they send a 400 error with a valid nonce in the Replay-Nonce header field. Clients a meant to retry the call using the nonce sent by the server.

## To recreate

1. Execute a call that results in a server error using bent
2. Examine the caught error object

## What should happen

The returned error object should have a `responseHeaders` property with the response headers (just like it has a `responseBody` for the response body.

## What actually happens

The headers are missing from the error object.

